<% include partials/header %>
	<section class="section hero">
		<div class="container">
			<div class="columns align-center is-tablet">
				<div class="column is-6">
					<h1 class="title is-1">You deserve some help, get an Intern</h1>
					<a href="https://github.com/theintern/intern" class="button is-primary">Download Intern from Github</a>
					<h2 class="subtitle is-6">or just run <code>npm install intern</code></h2>
				</div>
				<div class="column is-6 anim">
					<%- inline('/images/intern-hero.svg') %>
				</div>
			</div>
		</div>
	</section>
	<section class="section features">
		<div class="container">
			<h1 class="title is-3">What can it do?</h1>
			<div class="columns is-tablet is-multiline">
				<div class="column is-4">
					<p>Write tests in JavaScript and TypeScript using <a href="https://theintern.github.io/intern/#interfaces">any style you like</a> (TDD, BDD, whatever!).</p>
				</div>
				<div class="column is-4">
					<p>Run tests <a href="https://theintern.github.io/intern/#browser-client">straight from your browser</a>, <a href="https://theintern.github.io/intern/#node-client">right in Node.js</a>, or against many browsers &amp; platforms at the same time with the <a href="https://theintern.github.io/intern/#test-runner">Intern test runner</a>.</p>
				</div>
				<div class="column is-4">
					<p>Get full <a href="https://theintern.github.io/intern/#reporter-lcov">code coverage reporting</a> so you know what’s left to test.</p>
				</div>
				<div class="column is-4">
					<p>Seamlessly run tests on <a href="https://theintern.github.io/intern/#hosted-selenium">Sauce Labs</a>, <a href="https://theintern.github.io/intern/#hosted-selenium">BrowserStack</a>, <a href="https://theintern.github.io/intern/#hosted-selenium">TestingBot</a>, or your own <a href="https://theintern.github.io/intern/#selenium-grid">Selenium Grid</a>.</p>
				</div>
				<div class="column is-4">
					<p>Ready for continuous integration? Intern fully integrates with <a href="https://theintern.github.io/intern/#ci-travis">Travis CI</a>, <a href="https://theintern.github.io/intern/#ci-jenkins">Jenkins</a>, and <a href="https://theintern.github.io/intern/#ci-teamcity">TeamCity</a> out of the box.</p>
				</div>
				<div class="column is-4">
					<h2 class="title is-5">Ok, what else?</h2>
					<a class="button is-small is-primary is-outlined">See all features</a>
				</div>
			</div>
		</div>
	</section>

	<section class="section who">
		<div class="container">
			<h1 class="title is-3 has-text-centered">Who uses it?</h1>
			
			<div class="columns is-mobile is-multiline">
				<div class="column is-4-mobile">
					<%- inline('/images/logo-alfresco.svg') %>
				</div>
				<div class="column is-4-mobile">
					<%- inline('/images/logo-esri.svg') %>
				</div>
				<div class="column is-4-mobile">
					<%- inline('/images/logo-hsbc.svg') %>
				</div>
				<div class="column is-4-mobile">
					<%- inline('/images/logo-ibm.svg') %>
				</div>
				<div class="column is-4-mobile">
					<%- inline('/images/logo-intuit.svg') %>
				</div>
				<div class="column is-4-mobile">
					<%- inline('/images/logo-mozilla.svg') %>
				</div>
			</div>
		</div>
	</section>

	<section class="section workwith">
		<div class="container">
			<div class="columns">
				<div class="column is-6">
					<img src="/images/logos-workswith.svg">
				</div>
				<div class="column is-6">
					<h1 class="title is-3">Does it work with <span class="underline"></span>?</h1>
					<p>You bet! No matter what library or framework your application uses, client–side and server–side, you can test it with Intern! Check out our example projects to see how simple it is to get Intern up and running with many popular JavaScript libraries.</p>
				</div>
			</div>
		</div>
	</section>

	<section class="section docs">
		<div class="container">
			<div class="columns">
				<div class="column is-6">
					<h1 class="title is-3">Ok, but what about docs?</h1>
					<p>Intern’s comprehensive documentation will walk you through everything you need to know. Detailed tutorials, examples, API information and more await you in the user guide.</p>
				</div>
				<div class="column is-6 has-text-centered viewGuide">
					<a href="https://theintern.github.io/intern/" class="button is-primary">View the User Guide</a>
				</div>
			</div>
		</div>
	</section>

	<section class="section need-help">
		<div class="container">
			<h1 class="title is-3 has-text-centered">What if I need help?</h1>
			<div class="columns">
				<div class="column is-8 is-offset-2 has-text-centered">
					<p>
						Don’t stress if you get stuck and need a little assistance. 
						Free, community-provided Intern support is always available. 
						<a href="https://www.sitepen.com">SitePen</a> also offers <a href="https://www.sitepen.com/workshops/index">workshops</a> and <a href="https://www.sitepen.com/support/index">On-Demand Development</a> assistance for Intern if you need a little extra TLC.
					</p>

					<h2 class="title is-6">Community help</h2>
					<a href="http://stackoverflow.com/questions/ask?tags=intern" class="button is-small is-primary is-outlined">Stack Overflow</a>
					<a href="https://gitter.im/theintern/intern" class="gitter button is-small is-primary is-outlined">Gitter</a>
					<a href="irc://irc.freenode.net/intern" class="button is-small is-primary is-outlined">IRC</a>

					<h2 class="title is-6 bugs">Bugs and feature requests</h2>
					<a href="https://github.com/theintern/intern/issues" class="button is-small is-primary is-outlined">Github</a>
				</div>
			</div>
		</div>
	</section>
<% include partials/footer %>
